<a href="https://colab.research.google.com/github/Mendoza-JM/OOP-58001/blob/main/List_Tuples_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
class shapes:
  def __init__(self,length,width):
    self.length=length
    self.width=width
  def area(self):
    return self.length*self.width
rectangle=shapes(18,5)
rectangle.area()

90

In [ ]:
class shapes:
  def __init__(self,side):
    self.side=side
  def areasqr(self):
    return self.side**2
square=shapes(5)
square.areasqr()

25

In [15]:
pow(10,2)
array=["apple","banana","orange"]
array.insert(0,"cherry")
print(array)

['cherry', 'apple', 'banana', 'orange']

**Create your function that will show your full name and age**

In [13]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def name_age(self):
    return self.name + self.age
  
individual=Person("Jan Mathew Mendoza ", "19 years old")
individual.name_age()

'Jan Mathew Mendoza 19 years old'

**List**

In [18]:
pi=3.14159
varlist = ['abc','1','def',2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)

abc
['abc', '1', 'def', 2, 'ghi']
['abc', '1', 'def', 'ghi']

**Dictionaries**

In [19]:
students = {
            1:"ana",
            2:"billy",
            3:"maria",
            4:"joy",
            3:"bessy"

}
print(students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}