<a href="https://colab.research.google.com/github/Mendoza-JM/OOP-58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**For Loop**

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

**Break Statement**

In [3]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [7]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [4]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [19]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Tuesday":
    print(x)
  if x=="Wednesday":
    print(x)
    break

Tuesday
Wednesday

**Looping through a string**

In [6]:
for x in "week":
  print(x)

w
e
e
k

**The range() Function**

In [8]:
for x in range(6):
  print(x)
for x in range(2, 6):
  print(x)

0
1
2
3
4
5
2
3
4
5

**Nested Loops**

In [10]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Example 5(While Loop)**

In [11]:
i=1
while i<6:
  print(i)
  i+=1 #i=i+1

1
2
3
4
5

**The Break Statement**

In [12]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

**The Continue Statement**

In [17]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

**The else Statement**

In [21]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

**Application 1**

In [24]:
for x in range(11):
  print("Hello",x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

**Application 2** **bold text**

In [56]:
x=3
while x<10:
  print(x)
  x+=1

3
4
5
6
7
8
9